@inherits StyleAwareComponentBase

<div @ref="RootElement"
     class="@ClassValue"
     style="color: @TitleColor"
     @onmouseenter="@OnMouseEnter"
     @onmouseleave="@OnMouseLeave"
     @onclick="@(async () => await OnButtonClicked.InvokeAsync(this))">
    <MenuText Text="@Item.Label" Highlight="@Highlight" />
</div>

@code {
    private bool _pointed;

    [Parameter]
    public UiMenuItem Item { get; set; }

    [Parameter]
    public int Index { get; set; }

    [Parameter]
    public bool Highlight { get; set; } = false;

    [Parameter]
    public string TitleColor { get; set; }

    [Parameter]
    public bool Pointed
    {
        get => _pointed;
        set
        {
            _pointed = value;
            XClass = value ? "pointed" : "";
        }
    }

    [Parameter]
    public EventCallback<MenuButton> OnMouseEntered { get; set; }

    [Parameter]
    public EventCallback<MenuButton> OnButtonClicked { get; set; }

    private async Task OnMouseEnter()
    {
        Pointed = true;
        await OnMouseEntered.InvokeAsync(this);
    }

    private void OnMouseLeave()
    {
        Pointed = false;
    }
}
