<div class="menu-pane">
    @{
        var lastItemWasGroup = false;
        var groupJustEnded = false;
        var index = 0;
        for (var i = 0; i < Items.Count; i++)
        {
            var item = Items[i];
            // --- Provide separator between groups
            if (i > 0 && item.HasSubitems != lastItemWasGroup || groupJustEnded)
            {
                <MenuItem Item="@(new SeparatorMenuItem())" />
            }
            lastItemWasGroup = item.HasSubitems;
            groupJustEnded = false;
            if (item.HasSubitems)
            {
                // --- We are about to process a command group
                for (var j = 0; j < item.Items.Count; j++)
                {
                    var subitem = item.Items[j];
                    <MenuItem Item="@subitem"
                              ItemIndex="@index"
                              Highlight="@Highlight"
                              Selected="@(SelectedIndex == index)"
                              MenuItemPointed="@(mi => OnMenuItemPointed(mi))"
                              MenuItemClicked="@(mi => OnMenuItemClicked(mi))" />
                    index++;
                }
                groupJustEnded = true;
            }
            else
            {
                <MenuItem Item="@item"
                          ItemIndex="@index"
                          Highlight="@Highlight"
                          Selected="@(SelectedIndex == index)"
                          MenuItemPointed="@(mi => OnMenuItemPointed(mi))"
                          MenuItemClicked="@(mi => OnMenuItemClicked(mi))" />
            }
        }
    }
</div>

@code {
    [Parameter]
    public int Depth { get; set; }

    [Parameter]
    public List<UiMenuItem> Items { get; set; }

    [Parameter]
    public bool Highlight { get; set; }

    [Parameter]
    public int TopPosition { get; set; }

    [Parameter]
    public int SelectedIndex { get; set; } = -1;

    [Parameter]
    public EventCallback<MenuItemEventArgs> MenuItemPointed { get; set; }

    [Parameter]
    public EventCallback<MenuItemEventArgs> MenuItemClicked { get; set; }

    private async Task OnMenuItemPointed(MenuItem item)
    {
        await MenuItemPointed.InvokeAsync(new MenuItemEventArgs
        {
            Pane = this,
            ItemIndex = item == null ? -1 : item.ItemIndex
        });
    }

    private async Task OnMenuItemClicked(MenuItem item)
    {
        await MenuItemClicked.InvokeAsync(new MenuItemEventArgs
        {
            Pane = this,
            ItemIndex = item == null ? -1 : item.ItemIndex
        });
    }
}
