<div class="@_class"
     style="color: @TitleColor"
     @onmouseenter="@OnMouseEnter"
     @onmouseleave="@OnMouseLeave"
     @onclick="@(async () => await OnButtonClicked.InvokeAsync(this))">
    <MenuText Text="@Item.Label" Highlight="@Highlight" />
</div>

@code {

    [Parameter]
    public UiMenuItem Item { get; set; }

    [Parameter]
    public int Index { get; set; }

    [Parameter]
    public bool Highlight { get; set; } = false;

    [Parameter]
    public string TitleColor { get; set; }

    [Parameter]
    public bool Pointed
    {
        get => _pointed;
        set
        {
            _pointed = value;
            _class = "menu-button" + (value ? " pointed" : "");
        }
    }

    [Parameter]
    public EventCallback<MenuButton> OnMouseEntered { get; set; }

    [Parameter]
    public EventCallback<MenuButton> OnButtonClicked { get; set; }


    private string _class = "menu-button";
    private bool _pointed;

    private async Task OnMouseEnter()
    {
        Pointed = true;
        await OnMouseEntered.InvokeAsync(this);
    }

    private void OnMouseLeave()
    {
        Pointed = false;
    }
}
